<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script>
      var status= '<%- JSON.stringify(status) %>';
      if(JSON.parse(status)== 'verified'){
        if(confirm("Do you want to signin? ")){
          window.location.href="https://effortless-frangipane-369a22.netlify.app/signin";
        }
      } 
    </script>
    <style>
      h4{
        font-size: 28px;
      }
      .form-label{
        font-size: 22px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
      }
      .form-control{
        height: 22px;
        width: 220px;
        padding: 5px;
        margin: 6px 0px ;
      }
      .sub{
        height: 28px ;
        width: 125px;
        margin: 5px;
        font-size: 20px;
        cursor: pointer;
        padding: 5px;
      }
      .form{
        width: 400px;
        height: 350px;
        margin: auto;
        border-radius: 10px;
      }
      .form-group{
        margin: 0px 30px;
      }
    </style>
</head>
<body style="background-color: antiquewhite;">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 form" style="margin: auto;background-color: lightcyan; text-align: center;">
              <h4>Reseting Password</h4><br>
              <div class="form-group" style="text-align:left;">
              <form method="post">
                <label class="form-label" for="password">Password</label><br>
                <input class="form-control" type="password" id="password" name="password"><br>
                <label  class="form-label" for="confirmPassword">Confirm Password</label><br>
                <input  class="form-control" type="password" id="confirmPassword" name="confirmPassword"><br>
                <input class="sub" type="submit" value="Submit" >
              </form>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
